body {
  background-color: rgb(24, 22, 22);
}

h4 {
  font-family: 'Special Elite', cursive;
  padding-bottom: .5vw;
}

h2 {
  font-family: 'Special Elite', cursive;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 2rem !important; 
}

li {
    padding: 5px;
    margin: 5px;
    background: #5f250e;
    border-radius: .5vw;
    color: white;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .to-be-eaten {
    background: rgb(230, 195, 99);
    border-radius: .5vw;
    padding: .25vw;
    padding-bottom: 4vh;
    text-align: center;
    border-radius: 10px;
    border: 4px outset rgb(151, 95, 11);
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
  }

  .to-order {
    background: rgb(230, 195, 99);
    border-radius: .5vw;
    padding: .25vw;
    padding-bottom: 4vh;
    text-align: center;
    border-radius: 10px;
    border: 4px outset rgb(151, 95, 11);
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
  }

  .create-new {
    background: orangered;
  }

  #top-bar {
    margin: 10vh;
    color: blue;
    text-align: center;
  }
  
  #to-eat{
    width: 30vw;
    float: left;
    margin-left: 15vw;
  }

  #to-order{
    width: 30vw;
    float: right;
    margin-right: 15vw;
  }

  #new-burger{
    width:30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: .25vw;
  }

  #add-box{
    border-radius: .5vw;
    padding: .25vw;
    margin: .5vw;
  }

.form-group {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 22px;
}

#create-new-burger-button {
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: .5vw;
  background: rgb(151, 95, 11);
  color: white;
  font-family: 'Josefin Slab', serif;
}

.change-devoured {
  background: rgb(88, 184, 44);
  border-radius: .5vw;
  font-family: 'Josefin Slab', serif;
}

.delete-burger {
  background: rgb(88, 184, 44);
  border-radius: .5vw;
  font-family: 'Josefin Slab', serif;
  margin: .3vw;
}