li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .to-be-eaten {
    background: salmon;
  }

  .to-order {
    background: mediumseagreen;
  }

  .create-new {
    background: orangered;
  }
  